:root {
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
  }




.boost {
    background-color: var(--Dark-Violet);
    width: 100%;
}

.boost img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.tip {
    position: relative;
    top: 10rem;
    margin-top: -7rem;
    
}

.tip h2 {
    font-size: 2.4rem;
    text-align: center;
    color: white;
}

#button {
    display: block;
    margin: auto;
    padding: .8rem 2.4rem;
    cursor: pointer;
    border: none;
    background-color: var(--Cyan);
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.2rem;
}

@media screen and (max-width: 980px) {
    .tip {
        padding-bottom: 2rem;
        margin-top: -8.9rem;
    }


}

@media screen and (max-width: 767px) {
    .boost img {
        height: 50vh;
    }

    .tip {
        position: relative;
        top: 250px;
    }
}