:root {

    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    
    
    --Red: hsl(0, 87%, 67%);
    
    
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
    
    
}

.header {
    width: 100%;
    height: 90px;
    border: none;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100%;
}


.log {
    position: relative;
    left: 4rem;
}

.nav-menu {
    display: flex;
    margin-left: 6rem;
    justify-content: space-around;
}

.nav-menu li {
    padding: 0 1rem;
    
}

li {
    list-style-type: none;
}

.nav-menu li a {
    color: var(--Grayish-Violet);
    cursor: pointer;
}

.nav-menu li a:hover {
    color: var(--Cyan);
}

.sign {
    margin-left: auto;
    display: flex;
    margin-right: 2rem;
    margin-top: 2rem;
}

 li {
    margin-left: 1rem;
    
}

 .btn-one {
    border: none;
    background-color: white;
    font-weight: 900;
    color: var(--Grayish-Violet);
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

#side1 {
    position: relative;
    right: 12rem;
    margin-top: 1rem;
}


#side2 {
    display: block;
    position: relative;
    right: 12.8rem;
    margin-top: 1rem;

}

#side3 {
    position: relative;
    right: 13.6rem;
    margin-top: 1rem;
}

.btn-two {
    padding: .5rem 1rem .5rem;
    background-color: var(--Cyan);
    font-weight: 900;
    color: var(--Grayish-Violet);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: .8rem;
    font-size: 1rem;
    margin-top: .5rem;
    top: 0;
}




.nav-menu a {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:980px) {
    .hamburger {
        display: flex;
    }

    .nav-menu li{
        display: none;
        visibility: hidden;
    }

    .btn {
        width: 80%;
        margin: .8rem;
    }

    .active {
        position: absolute;
        flex-direction: column;
        top: 100px;
        right:70px;
        left: 100px;
        width: 70%;
        height: 65vh;
        transition: 0.6s;
        z-index: 2;
        background: var(--Dark-Violet);
        border: none;
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btn-two {
        width: 200%;
        position: relative;
        right: 3rem;
    }

    .btn-one {
        border: none;
        background-color: var(--Dark-Violet);
        color: white;
    }


    .active li{
        padding: 15px;
        color: white;
        cursor: pointer;
    }

    .active li:hover {
        color: var(--Cyan);
    }
    
    #side1, #side2, #side3 {
        position: relative;
        left: 0;
    }
}